body {
    overflow-x: hidden;
}

/* topbar */
.topnav-bar {
    background: #111111;
    color: white;
}

h2.text {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    margin-left: -30px
}

h2.address {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 700;
    line-height: 17.58px;
}

.address span {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
}

.addres {
    display: flex;
    align-items: flex-start;
    gap: 10.47px;
}

.call {
    display: flex;
    align-items: flex-start;
    gap: 10.47px;
}

.email {
    display: flex;
    align-items: flex-start;
    gap: 10.47px;
    margin-left: -60px;
}

.row.set {
    padding: 15px 0 15px 0;
}

.row.set .col:not(:first-child) {
    margin-left: 40px;
}

.row.set .col {
    flex: 1;
    position: relative;
}

.row.set .col:nth-child(3)::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -20px;
    width: 1px;
    height: 100%;
    border: 1px solid #4F4F4F;
}

.row.set .col:nth-child(4)::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -75px;
    width: 1px;
    height: 100%;
    border: 1px solid #4F4F4F;
}

/* menubar */
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    justify-content: flex-end;
}

a.nav-link.active {
    color: #C49421 !important;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.97px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

a.nav-link {
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.97px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: black;
}

button.btn.btn-outline-success {
    background-color: #C49421 !important;
    border: 1px solid #C49421 !important;
    color: white;
    top: 67px;
    left: 1467px;
    padding: 13px 27px 13px 27px;
    gap: 10px;
    border-radius: 4px;
    font-family: 'Rajdhani';
    font-size: 18px;
    font-weight: 600;
    line-height: 22.97px;
}

button.btn.btn-outline-success:hover {
    background-color: black !important;
    border: 1px solid black !important;
}

ul.navbar-nav {
    display: flex;
    gap: 40px;
}

ul.navbar-nav:nth-child(4) {
    display: flex;
    gap: 50px;
}

a.nav-link.last {
    margin-right: 60px;
}

/* banner one */
.bg {
    background-image: url(../images/banner-one.png);
    background-size: cover;
}

.container-fluid {
    padding: 0;
}

.container.bg-text {
    padding-top: 167px;
    padding-bottom: 167px;
}

.container.bg-text span {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
}

.d-flex.align-items-center.flex-row {
    gap: 10px;
}

h2.one {
    font-family: 'Rajdhani';
    font-size: 84px;
    font-weight: 700;
    line-height: 107.18px;
    text-align: left;
    color: #C49421;
}

h2.two {
    font-family: 'Rajdhani';
    font-size: 84px;
    font-weight: 700;
    line-height: 107.18px;
    text-align: left;
    color: white;
}

.container.bg-text p {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    color: white;
    padding-bottom: 40px;
}

/* banner two*/
.banner-two span {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    line-height: 17.58px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 4px;
    color: black;
}

.container.banner-two {
    margin-top: 120px;
    margin-bottom: 120px;
}

.col.banner-two h2 {
    font-family: 'Rajdhani';
    font-size: 54px;
    font-weight: 700;
    line-height: 68.9px;
    text-align: left;
    margin-bottom: 12px;
}

.col.banner-two p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    width: 720px;
}

.col.left img {
    width: 100%;
}

img.yellow {
    width: auto !important;
}

.col.banner-two button.btn.btn-outline-success {
    margin-top: 44px;
}

/* banner three */
.banner-three {
    background-color: black;
}

.banner-three h2 {
    font-family: 'Rajdhani';
    font-size: 54px;
    font-weight: 700;
    line-height: 68.9px;
    text-align: center;
    color: white;
    padding-top: 70px;
    padding-bottom: 14px;
}

.banner-three p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: white;
    margin-top: 12px;
}

img.circle-image-inner {
    position: absolute;
    width: 43.82px;
    height: 43.82px;
    top: 23px;
    left: 22px;
    gap: 0px;
    opacity: 0px;
}

.setid {
    border: 1px solid white;
    border-bottom: 3px solid black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 7px 0px rgba(43, 52, 59, 0.08);
    margin-bottom: 90px;
    margin-top: 50px;
}

.round {
    position: relative;
}

.circle-image {
    width: 90px;
    height: 90px;
    border-radius: 91px;
    background-color: white;
    margin: -50px auto 20px;
    top: 0px;
    position: absolute;
    left: 40%;
    border: 3px solid black;
}

.lead-points .row {
    gap: 24px;
}

.banner-three-bottom {
    margin-top: 50px;
    padding-bottom: 100px;
}

.round h2 {
    font-family: 'Rajdhani';
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    color: black;
}

.round p {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: rgba(102, 102, 102, 1);
    padding: 0 25px 35px 25px;
}

.round p:hover {
    color: black !important;
}

.setid:hover {
    background: rgb(196 148 31);
    box-shadow: 0px 0px 7px 0px rgba(43, 52, 59, 0.08);
    border: 1px solid rgb(196 148 31);
}

/* banner four  */
.container.four {
    margin-top: 120px;
    margin-bottom: 120px;
}

.container.four p {
    color: black;
}

.col.left span {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    line-height: 17.58px;
    text-align: left;
}

.col.banner-two.right {
    margin-top: 129px;
}

.col.banner-two.right p {
    color: black !important;
}

button.setting-one {
    width: 58.33px;
    height: 58.33px;
    background: rgba(196, 148, 33, 1);
    border: none;
    border-radius: 80px;
    position: relative;
    top: -50%;
    left: 40%;
}

.container-fluid.five .row {
    padding: 0px;
    margin: unset;
}

/* banner five  */
.container-fluid.five .col.left {
    margin: 0px !important;
    padding: 0px !important;
}

.col.banner-two.five {
    background-color: black;
}

.col.banner-two.five.bg {
    background-image: url(../images/image\ 26.png);
    padding-left: 24px;
}

.col.banner-two.five.bg .d-flex.align-items-center.flex-row {
    margin-top: 200px;
}

.col.banner-two.five.bg p,
span {
    color: white;
}

.col.banner-two.five.bg h2 {
    color: rgba(196, 148, 33, 1);
}

span.f {
    font-family: 'Rajdhani';
    font-size: 22px;
    font-weight: 600;
    line-height: 28.07px;
    text-align: left;
    text-transform: none;
}

.col.banner-two.five.bg span {
    color: white;
}

.col.banner-two.five.bg p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    /* width: 63%; */
}


/* banner six news section  */
.new-section {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.container.six {
    margin-top: 120px;
}

.container.six span {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    line-height: 17.58px;
    text-align: left;
    text-transform: uppercase;
    color: black;
}

.container.six h2 {
    font-family: 'Rajdhani';
    font-size: 54px;
    font-weight: 700;
    line-height: 68.9px;
    text-align: left;
    margin-top: 4px;
}

.container.six p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(102, 102, 102, 1);
    margin: 20px 30px 0px 30px;
}

.card-body {
    width: 416px;
    height: 275px;
    border-radius: 10px;
}

p.six {
    font-family: 'Rajdhani';
    font-size: 15px;
    font-weight: 500;
    line-height: 19.14px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    text-transform: uppercase;
    color: rgba(17, 17, 17, 1);
}

h5.card-title {
    font-family: Rajdhani;
    font-size: 22px;
    font-weight: 700;
    line-height: 28.07px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    padding-bottom: 13px;
    margin-left: 30px;
}

p.card-text {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

a.btn.btn-primary {
    color: rgba(196, 148, 33, 1);
    background-color: unset;
    border: unset;
    font-family: Rajdhani;
    font-size: 15px;
    font-weight: 700;
    line-height: 19.14px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    padding: 0px;
    margin-top: 20px;
    margin-left: 30px;
}

.row-six {
    text-align: center;
    margin-top: 50px;
}

button.slick-next.slick-arrow {
    background: rgba(224, 224, 224, 1);
    width: 36px;
    height: 36px;
    border-radius: 90px;
}

button.slick-prev.slick-arrow {
    background: rgba(224, 224, 224, 1);
    width: 36px;
    height: 36px;
    border-radius: 90px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 28px;
}

button.slick-prev.slick-arrow:hover {
    background-color: #C49421;
}

button.slick-next.slick-arrow:hover {
    background-color: #C49421;
}

.card-body {
    margin: 0;
    padding: 0;
}

.card {
    width: 95% !important;
}

p.set {
    text-align: center !important;
}

.slick-dots li.slick-active button:before {
    color: #C49421;
}

/* Arrows */
.slick-prev,
.slick-next {
    color: transparent !important;
    border: none;
    outline: none;
    background: transparent !important;
}

.slick-prev:before,
.slick-next:before {
    color: #E0E0E0;
}

.slick-prev:hover:before,
.slick-next:hover:before {
    color: #C49421;
}


/* testimonial */
.testimonals {
    display: flex;
}

.container.test {
    padding-top: 120px;
}

.container.test h2 {
    font-family: 'Rajdhani';
    font-size: 54px;
    font-weight: 700;
    line-height: 68.9px;
    text-align: center;
}

.container.test p {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-top: 12px;
    color: #666666;

}

.slick-dotted.slick-slider {
    padding: 50px 0 50px;
}

svg.svg-inline--fa.fa-star {
    color: #C49421;
    width: 15.76px;
    height: 15.88px;
    top: 4.45px;
    left: 4.12px;
    gap: 0px;
    margin-top: 26px;
}

.testimonals h6 {
    display: inline;
    font-family: 'Rajdhani';
    font-size: 16px;
    font-weight: 700;
    line-height: 20.42px;
    text-align: center;
}

.rating {
    padding: 0;
    border-radius: 16px;
    border: 1px;
    background: #FEFEFE;
    border: 1px solid #D9D9D9;
    padding-left: 26px;
    width: 95% !important;
    padding-bottom: 20px;
}

.slick-dots li button:before {
    font-size: 12px;
}

/* svg.svg-inline--fa.fa-circle-user {
    padding-bottom: 26px;
} */

.slick-dots li button:hover:before {
    color: #C49421;
}

.slick-dotted.slick-slider {
    margin-bottom: 100px;
}

/* footer */

.container-fluid.back {
    padding-top: 70px;
    background: linear-gradient(90deg, #C49421 50%, black 50%);
}

.contact-form input,
.contact-form select {
    padding: 10px;
    margin-bottom: 20px;
    width: 456px;
    height: 52px;
    border-radius: 4px 0px 0px 0px;
    border: 1px solid #BBBBBB;
}

.contact-form button {
    width: 140px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.contact-form button:hover {
    width: 140px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.col.left.form h2 {
    font-family: 'Rajdhani';
    font-size: 54px;
    font-weight: 700;
    line-height: 68.9px;
    text-align: left;
}

.col.left.form p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin: 0px;
    margin-bottom: 40px;
}

.col.left.form span {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: black;
}

button.btn {
    font-family: 'Rajdhani';
    font-size: 18px;
    font-weight: 600;
    line-height: 22.97px;
    text-align: left;
    /* margin-bottom: 110px; */
}

form.contact-form {
    margin-bottom: 50px;
}

.col.left.form {
    margin-left: 120px;
    margin-right: 0px;
    margin-top: 150px;
}

/* .right {
    background: url('../images/image\ 26.png') no-repeat center center;
    background-size: cover;
} */

.right-section .company-info img {
    max-width: 150px;
}

.right-section .footer {
    font-size: 0.8rem;
    color: #aaa;
}

.social a {
    color: #d4a128;
    text-decoration: none;
    font-size: 1.2rem;
}

.list-unstyled li a:hover {
    text-decoration: underline;
}

.btn-warning {
    color: #000;
    background-color: #d4a128;
    border-color: #d4a128;
}

.btn-warning:hover {
    background-color: #c49b1f;
    border-color: #c49b1f;
}

.col.right p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.col.right hr {
    border: 1px solid #4F4F4F;
    text-align: center;
}

.row.mb-4.set {
    margin: 60px 0 60px 0;
}

.row.mb-4.set h5 {
    font-family: 'Rajdhani';
    font-size: 24px;
    font-weight: 700;
    line-height: 30.62px;
    text-align: left;
}

a.text-white {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    text-decoration: none;
}

ul.list-unstyled {
    gap: 20px;
    display: grid;
}

.col.call p {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
    font-size: 16px;
}

.newsletter.mb-4 {
    margin-top: 60px;
}

.newsletter h5 {
    font-family: 'Rajdhani';
    font-size: 24px;
    font-weight: 700;
    line-height: 30.62px;
    text-align: left;
    color: #C49421 !important;

}

.newsletter p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}

/* copyright */
.col.copy {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.row.copyright {
    margin: 22px 0 22px 0;
}

.col.facebook {
    color: #C49421;
    font-family: 'Rajdhani';
    font-size: 18px;
    font-weight: 600;
    line-height: 22.97px;
    text-align: left;
    gap: 10px;
    display: flex;
    justify-content: flex-end;
}

.form-control {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}

.container-fluid.back {
    position: relative;
}

img.backimg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 90%;
}

.mobile-navbar {
    display: none;
}

/* img.look {
    width: 100%;
} */


img.yellow {
    width: auto !important;
}

.container.four p {
    width: 100%;
}

.col.right {
    z-index: 1;
}

svg.svg-inline--fa.fa-circle-user {
    font-size: 40px;
    color: #C49421;
}


@media only screen and (max-width:1399px) {
    h2.address {
        font-size: 13px;
    }

    .address span {
        font-size: 13px;
    }

    .row.set .col img {
        width: 15px;
    }

    .topnav-bar {
        height: 40px;
    }

    .row.set {
        padding: 13px 0 15px 0;
    }

    .row.set .col:nth-child(3)::before {
        top: -6px;
    }

    .row.set .col:nth-child(4)::before {
        top: -6px;
    }

    ul.navbar-nav {
        gap: 0px;
    }

    a.nav-link.active {
        font-size: 17px;
        line-height: 10px;
    }

    a.nav-link {
        font-size: 17px;
        line-height: 10px;
    }

    a.nav-link.last {
        margin-right: 20px;
    }

    button.btn.btn-outline-success {
        padding: 13px 10px;
        font-size: 17px;
        line-height: 10px;
    }

    h2.one {
        font-size: 50px;
        line-height: 50px;
    }

    h2.two {
        font-size: 50px;
        line-height: 50px;
    }

    .container.bg-text img {
        width: 40px;
    }

    .container.bg-text span {
        font-size: 12px;
        line-height: 25px;
    }

    .container.bg-text {
        padding-top: 60px;
        padding-bottom: 170px;
    }

    .col.banner-two img {
        width: 50px;
    }

    .banner-two span {
        font-size: 12px;
    }

    .col.banner-two h2 {
        font-size: 50px;
        line-height: 68px;
        margin-bottom: 0px;
    }

    .col.banner-two p {
        line-height: 20px;
        width: 739px;
        font-size: 15px;
    }

    .col.banner-two button.btn.btn-outline-success {
        margin-top: 0px;
    }

    .container.banner-two {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .banner-three h2 {
        font-size: 50px;
        line-height: 30px;
        padding-top: 60px;
        padding-bottom: 0px
    }

    .banner-three p {
        font-size: 15px;
        margin-bottom: 70px;
    }

    .circle-image {
        left: 30%;
    }

    .round h2 {
        font-size: 22px !important;
        line-height: 25px !important;

    }

    .round p {
        margin-bottom: 0px;
    }

    .container.four p {
        color: black;
    }

    .col.banner-two.right {
        margin-top: 100px;
    }

    .container.four {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .col.banner-two.five.bg .d-flex.align-items-center.flex-row {
        margin-top: 90px;
    }

    .col.banner-two.five.bg p {
        margin-top: -30px;
    }

    .col.banner-two.five.bg span {
        color: white;
    }

    .container.six {
        margin-top: 60px;
    }

    .container.six p {
        font-size: 15px;
        line-height: 25px;
    }

    .container.six h2 {
        font-size: 50px;
    }

    h5.card-title {
        font-size: 17px;
    }

    .container.test {
        padding-top: 60px;
    }

    svg.svg-inline--fa.fa-circle-user {
        padding-bottom: 0px;
        font-size: 20px;
    }

    .rating {
        padding-bottom: 20px;
    }

    .contact-form input,
    .contact-form select {
        width: 370px;
        height: 40px;
    }

    .col.left.form {
        margin-top: 0px;
    }

    .col.left.form h2 {
        font-size: 50px;
    }

    .col.left.form p {
        font-size: 16px;
        line-height: 10px;
        margin-bottom: 20px;
    }

    .col.right p {
        font-size: 14px;
    }

    .row.mb-4.set {
        margin: 0px;
        padding: 0px;
    }

    ul.list-unstyled {
        gap: 8px;
        display: grid;
    }

    .container.six span {
        font-size: 12px;
    }

    .container.test h2 {
        font-size: 50px;
    }

    a.text-white {
        font-size: 16px;
    }

    .col.right p {
        line-height: 18px;
    }

    .newsletter.mb-4 {
        margin-top: 0px;
    }

    .row.copyright {
        margin: 10px 0 10px 0;
    }

    button.btn.btn-warning {
        color: white;
        font-family: 'Rajdhani';
        font-size: 17px;
        font-weight: 600;
        line-height: 22.97px;
        text-align: left;
        width: 100%;
        height: 33px;
    }

}

@media only screen and (max-width:1199px) {
    .col.banner-two.five.bg .d-flex.align-items-center.flex-row {
        margin-top: 20px;
    }
}

@media only screen and (max-width:991px) {
    .navbar>.container {
        flex-wrap: nowrap;
    }

    .collapse>ul {
        flex-direction: row !important;
        gap: 20px !important;
    }

    .topnav-bar {
        height: auto;
    }

    .row.set .col:nth-child(4)::before {
        left: -65px;
    }

    .col-lg-6.col-12.left img {
        width: 100%;
    }

    h2.text {
        margin-left: 5px;
    }

    h2.address {
        font-size: 10px;
    }

    .address span {
        font-size: 10px;
    }

    .col.banner-two h2 {
        font-size: 40px;
        line-height: 60px;
    }

    .col.banner-two p {
        width: 100%;
    }

    /* .col.banner-two.five.bg .d-flex.align-items-center.flex-row {
        padding-top: 24px;    
    } */

    .col.banner-two.five.bg p {
        font-size: 14px;
        line-height: 22px;
    }

    .col.left.form {
        margin-left: 0px;
    }

    button.slick-prev.slick-arrow {
        display: none !important;
    }

    button.slick-next.slick-arrow {
        display: none !important;
    }

    .contact-form input,
    .contact-form select {
        width: 100%;
        height: 40px;
    }

    .col.left.form p {
        font-size: 16px;
    }

    img.look {
        margin-bottom: 20px;
    }

    .col.banner-two.right {
        margin-bottom: 20px;
    }

    .col.copy {
        font-size: 13px;
    }

    .container.six h2 {
        font-size: 35px;
    }

    .container.six p {
        font-size: 16px;
        line-height: 21px;
    }

    .slider .setid:last-child {
        width: calc(100% - 84px);
    }
}

@media only screen and (max-width:767px) {

    #nav-icon3 {
        width: 40px;
        height: 30px;
        position: absolute;
        top: 38px;
        right: 45px;
        z-index: 10;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: transform 0.5s ease;
    }

    #nav-icon3 span {
        display: block;
        width: 100%;
        height: 4px;
        background: #C49421;
        border-radius: 2px;
        transition: transform 0.25s ease;
    }

    #nav-icon3.open span:nth-child(1) {
        transform: rotate(42deg) translate(10px, 10px);
    }

    #nav-icon3.open span:nth-child(2) {
        opacity: 0;
    }

    #nav-icon3.open span:nth-child(3) {
        transform: rotate(-46deg) translate(5px, -5px);
    }

    .mobile-navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100%;
        background-color: #111;
        color: white;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.4s ease;
    }

    .mobile-navbar.open {
        right: 0;
    }

    .mobile-navbar .menu {
        text-align: left;
        width: 80%;
    }

    .mobile-navbar .menu a {
        display: block;
        padding: 15px 0;
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;
        font-family: 'Rajdhani';
        font-size: 18px;
        font-weight: 500;
        line-height: 10px;
    }

    .mobile-navbar .menu a:hover {
        color: #fff;
    }

    .topnav-bar {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }

    .container.bg-text span {
        font-size: 10px;
        line-height: 20px;
    }

    h2.one {
        font-size: 40px;
        line-height: 40px;
    }

    h2.two {
        font-size: 25px;
        line-height: 25px;
    }

    .container.bg-text p {
        font-size: 13px;
        line-height: 20px;
        padding-bottom: 20px;
    }

    .col.banner-two img {
        width: 30px;
    }

    .banner-two span {
        font-size: 10px;
    }

    .col.banner-two h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .col.banner-two p {
        width: 720px;
    }

    .setid {
        margin: 20px 0 30px 0;
    }

    .col.banner-two.right {
        margin-top: 35px;
    }

    .container.six h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .container.six .col:nth-child(2) {
        display: contents;
    }

    .container.six p {
        margin: 10px 0px 0px 10px;
    }

    .new-section {
        margin-top: 0px;
    }

    h5.card-title {
        margin-left: 10px;
        padding-bottom: 0px;
    }

    .card-body {
        height: 200px;
    }

    .row-six {
        margin-top: 0px;
    }

    .container.test h2 {
        font-size: 40px;
    }

    .container.test p {
        font-size: 15px;
        line-height: 20px;
        padding-top: 0px;
    }

    .slick-dotted.slick-slider {
        padding: 20px 0 50px;
    }

    .col.left.form {
        margin-left: 0px;
    }

    .col.left.form p {
        font-size: 14px;
    }

    .col.left.form span {
        font-size: 14px;
    }

    .contact-form input,
    .contact-form select {
        width: 500px;
    }

    .col.copy {
        font-size: 13px;
        line-height: 10px;
    }

    .col.facebook {
        font-size: 14px;
        line-height: 10px;
        gap: 5px;
    }

    svg.svg-inline--fa.fa-facebook-f {
        font-size: 10px;
    }

    .col.banner-two.five.bg {
        padding-left: 36px;
    }

    .bg {
        background-image: url(../images/banner-one.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .container.bg-text {
        padding-bottom: 60px;
    }

    .banner-three h2 {
        line-height: 40px;
    }

    .banner-three p {
        line-height: 20px;
    }

    .setid {
        width: 245px !important;
    }

    .container.four p {
        width: 100%;
    }

    h5.card-title {
        font-size: 15px;
    }

    .container.six p {
        font-size: 12px;
    }

    a.btn.btn-primary {
        margin-left: 10px;
    }

    .container-fluid.back {
        background: linear-gradient(180deg, #C49421 50%, black 50%);
    }

    .container.copylast {
        max-width: 100%;
    }

    .lead-points .slider .setid:last-child {
        flex-grow: 1;
    }

    .lead-points .slider .setid:last-child .circle-image {
        left: 40%;
    }
}

@media only screen and (max-width:575px) {
    .col.banner-two p {
        width: 500px;
    }

    .banner-three h2 {
        font-size: 35px;
        line-height: 30px;
        padding-top: 50px;
        padding-bottom: 0px;
    }

    .banner-three p {
        font-size: 16px;
        margin-bottom: 70px;
        line-height: 20px;
    }

    .setid {
        margin: 50px 0 0 0;
        width: 97% !important;
        min-height: 300px;
        margin-left: -3px;
    }

    .banner-three-bottom {
        padding-bottom: 0px;
    }

    .container.four .row {
        display: contents;
    }

    .col.banner-two.right {
        width: 100%;
    }

    .col.banner-two.right {
        margin-bottom: 20px;
    }

    button.setting-one {
        left: 182px;
        bottom: 300px;
    }

    h5.card-title {
        font-size: 15px;
    }

    .container.six p {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 20px;
    }

    .contact-form input,
    .contact-form select {
        width: 100%;
    }

    .card {
        margin: 0 0 0 15px;
    }

    .col.left.form p {
        line-height: 16px;
    }

    .col.copy {
        font-size: 10px;
    }

    .bg {
        background-repeat: round;
    }

    .container.bg-text img {
        width: 10px;
        /* display: none; */
    }

    img.yellow {
        width: 20px !important;
    }

    .row.adjust {
        flex-direction: column;
    }

    h2.two {
        font-size: 35px;
    }

    .container.four p {
        width: 100%;
    }

    img.image-five {
        margin-bottom: 0px !important;
    }

    .container.four {
        margin-bottom: 0px;
    }

    .container.test h2 {
        font-size: 34px;
    }

    .card-body {
        height: 220px;
    }
}